@{
    ViewBag.Title = "Home Page";
}

<header class="background-sky l-relative">
	<div class="hero background-superhero-paper is-large">
		<h1 class="text-headline"></h1>
		<a class="hero-cta md-raised button button-large button-plain md-button md-ink-ripple" ng-transclude="" href="/docs/ts/latest/quickstart.html" md-button="md-button">
			<span class="ng-scope">Get Started</span>
		</a>
	</div>
	<div class="announcement-bar ng-isolate-scope">
		<em class="ng-binding"></em>
		<div class="announcement-bar-slides" ng-transclude="">
			<div class="announcement-bar-slide clearfix ng-scope is-visible">
				<p>Lets put some <strong>news</strong> here!</p>
				<a href="https://anglebrackets.org/#!/" target="_blank" class="button md-button">Register now</a>
			</div>
		</div>
	</div>
</header>

<article class="l-content">
	
</article>