@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

		<li class="l-right">
			@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, 
				htmlAttributes: new { @class = "main-nav-button md-button md-ink-ripple ng-scope", title = "Manage" })
		</li>
		<li class="l-right"><a href="javascript:document.getElementById('logoutForm').submit()" class="main-nav-button md-button md-ink-ripple ng-scope">Log off</a></li>
	}
}
else
{
    <li class="l-right">@Html.ActionLink("Register", "Register", "Account", routeValues: null, 
			htmlAttributes: new { @class = "main-nav-button md-button md-ink-ripple ng-scope", id = "registerLink" })</li>
    <li class="l-right">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, 
			htmlAttributes: new { @class = "main-nav-button md-button md-ink-ripple ng-scope", id = "loginLink" })</li>
}
